:host {
    display: block;
}

.app-icon {
    margin-right: 8px;
}

.app-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-tabs {
    margin-left: 24px;
}

.nav-icon {
    margin-right: 6px;
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.spacer {
    flex: 1 1 auto;
}
